In [66]:
import pandas as pd
import numpy as np

dataset = [(12, 112),
           (13, 113),
           (14, 117),
           (15, 118),
           (16, 120)];
 
df = pd.DataFrame(dataset, columns = ("date", "close" ));
df

   date  close
0    12    112
1    13    113
2    14    117
3    15    118
4    16    120

In [69]:
new_df = df.diff(axis=0)
df['diff'] = new_df['close']
df['shifted'] = df['close'].shift(periods=1)
df['return'] = df['diff']/df['shifted']
df.iloc[[4],[-1]] = np.nan
df

   date  close  diff  shifted    return
0    12    112   NaN      NaN       NaN
1    13    113   1.0    112.0  0.008929
2    14    117   4.0    113.0  0.035398
3    15    118   1.0    117.0  0.008547
4    16    120   2.0    118.0       NaN

In [72]:
srednia = df['return'].mean()
odch = df['return'].std()
srednia

0.017624603354691848